*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
width: 1000px;
margin: 0px auto 0px;
}

.ust{
    margin:100px 300px 0px 300px;
}
.orta{
    background-color: #dedede;
}
.orta p{
    text-align: center;
}
.orta input{
    width: 400px;
    margin-left:30%;
    margin-right:30%;
}
.orta button{
    width:130px;
    text-align: center;
}
.buttonsag{
    margin-right: 30%;
}
.buttonsol{
    margin-left: 35%;
}
.alt p{
    text-align: center;
    margin-top: 3px;
}
.alt1{
    width: 35%;
    height: 90px;
    font-size:14px;
    float: left;
    margin:0px;
    border:1px solid white;
    background-color: aquamarine;
}
.alt2{
    width: 25%;
    font-size:14px;
    height: 90px;
    float: left;
    margin:0px;
    border:1px solid white;
    background-color: aquamarine;
}
.alt3{
    width: 39.4%;
    font-size:14px;
    height: 90px;
    float: left;
    margin:0px;
    border:1px solid white;
    background-color: aquamarine;
}
.clear{
    clear: both;
    text-align: center;
    font-size: 12px;
}
